<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ll.leon.com.widget_animation_effect">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".immerse.IMActivity" />
        <activity android:name=".immerse.ChangeStatusBarColorActivity" />
        <activity android:name=".immerse.FullScrrenHaveTextActivity" />
        <activity android:name=".immerse.FullScrrenNoTextActivity" />
        <activity android:name=".immerse.ToolBarAndStatusBarSameColorActivity" />
        <activity android:name=".immerse.FragmentStatusAndActionBarActivity" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2" />
        <activity android:name=".DialogTestActivity" />
        <activity android:name=".WebActivity" />
        <activity android:name=".PictureActivity" />
        <activity
            android:name=".AnimationActivity"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".ShareActivity"
            android:theme="@style/AppTheme.Detail" />
        <activity android:name=".zxing.ZxingTestActivity" />
        <activity android:name=".FrameworkActivity" />
        <activity android:name=".dbtest.DBTestActivity" />
        <activity android:name=".UIWidgetActivity"></activity>
    </application>

</manifest>